/*--------------------
    Responsive Size
--------------------*/
$screen-mobile-small-min: 350px;
$screen-mobile-min: 500px;
$screen-tablet-min: 1024px;
$screen-desktop-min: 1920px;

/*----------------------------------
    Responsive Size
----------------------------------*/
@mixin media-breakpoint-mobile-small {
  @media (min-width: 0) and (max-width: #{$screen-mobile-small-min}) {
    @content;
  }
}

@mixin media-breakpoint-mobile {
  @media (min-width: 0) and (max-width: #{$screen-mobile-min}) {
    @content;
  }
}

@mixin media-breakpoint-tablet {
  @media (min-width: #{$screen-mobile-min}) and (max-width: #{$screen-tablet-min}) {
    @content;
  }
}

@mixin media-breakpoint-desktop {
  @media (min-width: #{$screen-tablet-min}) and (max-width: #{$screen-desktop-min}) {
    @content;
  }
}
