<div class="news-wrapper">
  <app-custom-title
    [title]="title"
    [isShowBookmark]="isShowBookmark"
    [isShowFilter]="true"
    (sortChange)="onOrderByChanged($event)"
  ></app-custom-title>
  <div class="content-wrapper three" *ngFor="let new of news; let i = index">
    <ng-container *ngIf="i % 3 == 0">
      <app-story-card
        [cardType]="'Medium'"
        [articleDetail]="new"
      ></app-story-card>
      <app-story-card
        *ngIf="i + 1 < news.length"
        [cardType]="'Medium'"
        [articleDetail]="news[i + 1]"
      ></app-story-card>
      <app-story-card
        *ngIf="i + 2 < news.length"
        [cardType]="'Medium'"
        [articleDetail]="news[i + 2]"
      ></app-story-card>
    </ng-container>
  </div>
  <div class="loadmore" *ngIf="title !== 'All bookmark'">
    <button (click)="search()">LOAD MORE</button>
  </div>
</div>
