@import "src/assets/scss/main.scss";

.main-filter {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-mobile {
    flex-direction: column;
  }
  &__title {
    font-weight: bold;
    font-size: 2.5em;
  }
  &__view-more {
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8em;
    &:hover {
      color: #324b8f;
      text-decoration: underline;
    }
  }
  &__input {
    padding: 0.5rem 2rem;
    border: none;
    border-bottom: 1px solid #607d8b;
    &:focus {
      outline: none;
      border: 1px solid #324b8f;
    }
  }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-mobile {
      flex-direction: column;
      > * {
        margin: 1rem 0 0.5rem;
      }
    }
  }
}

app-bookmark-button {
  &:focus {
    outline: none;
  }
}
