<div class="main-filter">
  <div class="main-filter__title">{{ title }}</div>
  <div class="main-filter__group">
    <a
      class="main-filter__view-more"
      (click)="onViewMore(title)"
      *ngIf="isShowViewMore"
      >VIEW MORE >></a
    >
    <app-bookmark-button
      [isBookmark]="true"
      [routerLink]="['/bookmark']"
      *ngIf="isShowBookmark"
    ></app-bookmark-button>
    <select
      name="filters"
      [value]="orderBy"
      (change)="onOrderByChange($event)"
      id="filters"
      class="main-filter__input"
      *ngIf="isShowFilter"
    >
      <option value="newest">Newest First</option>
      <option value="oldest">Oldest First</option>
    </select>
  </div>
</div>
