@import "src/assets/scss/main.scss";

.news-wrapper {
  max-width: 1024px;
  margin: 3rem auto 1rem;
  padding-bottom: 4rem;
  @include media-breakpoint-mobile {
    max-width: 350px;
    padding-bottom: 1rem;
  }
}

.content-wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  @include media-breakpoint-mobile {
    flex-direction: column;
  }
  > * {
    width: 50%;
    @include media-breakpoint-mobile {
      width: 100%;
    }
  }
  &.mb-1 {
    margin-bottom: 1rem;
  }
  &.three {
    > * {
      width: 33.333333%;
      @include media-breakpoint-mobile {
        width: 100%;
      }
    }
  }
}

.inner-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > * {
    width: 50%;
    @include media-breakpoint-mobile {
      width: 100%;
    }
  }
}

.loadmore {
  text-align: center;
  margin: 2rem 0;
  button {
    padding: 0.5rem 1rem;
    background: #213c86;
    border: none;
    color: white;
    outline: none;
  }
}
