<div class="news-wrapper">
  <app-custom-title
    [title]="'Top Stories'"
    [isShowBookmark]="true"
    [isShowFilter]="true"
    (sortChange)="onOrderByChange($event)"
  ></app-custom-title>
  <div class="content-wrapper mb-1">
    <div>
      <app-story-card [articleDetail]="hilightNews[0]"></app-story-card>
    </div>
    <div class="inner-content">
      <app-story-card
        [cardType]="'Medium'"
        [articleDetail]="hilightNews[1]"
      ></app-story-card>
      <app-story-card
        [cardType]="'Medium'"
        [articleDetail]="hilightNews[2]"
      ></app-story-card>
      <app-story-card
        [cardType]="'Small'"
        [articleDetail]="hilightNews[3]"
      ></app-story-card>
      <app-story-card
        [cardType]="'Small'"
        [articleDetail]="hilightNews[4]"
      ></app-story-card>
    </div>
  </div>
  <div class="content-wrapper">
    <app-story-card
      [cardType]="'Medium'"
      [articleDetail]="hilightNews[5]"
    ></app-story-card>
    <app-story-card
      [cardType]="'Medium'"
      [articleDetail]="hilightNews[6]"
    ></app-story-card>
    <app-story-card
      [cardType]="'Medium'"
      [articleDetail]="hilightNews[7]"
    ></app-story-card>
  </div>
  <app-custom-title
    [title]="'Sport'"
    [isShowFilter]="false"
    [isShowViewMore]="true"
  ></app-custom-title>
  <div
    class="content-wrapper three"
    *ngFor="let sport of sportNews; let i = index"
  >
    <ng-container *ngIf="i % 3 == 0">
      <app-story-card
        [cardType]="'Medium'"
        [articleDetail]="sport"
      ></app-story-card>
      <app-story-card
        *ngIf="i + 1 < sportNews.length"
        [cardType]="'Medium'"
        [articleDetail]="sportNews[i + 1]"
      ></app-story-card>
      <app-story-card
        *ngIf="i + 2 < sportNews.length"
        [cardType]="'Medium'"
        [articleDetail]="sportNews[i + 2]"
      ></app-story-card>
    </ng-container>
  </div>
  <app-custom-title
    [title]="'Latest News'"
    [isShowFilter]="false"
  ></app-custom-title>
  <div
    class="content-wrapper three"
    *ngFor="let latest of latestNews; let i = index"
  >
    <ng-container *ngIf="i % 3 == 0">
      <app-story-card
        [cardType]="'Medium'"
        [articleDetail]="latest"
      ></app-story-card>
      <app-story-card
        *ngIf="i + 1 < latestNews.length"
        [cardType]="'Medium'"
        [articleDetail]="latestNews[i + 1]"
      ></app-story-card>
      <app-story-card
        *ngIf="i + 2 < latestNews.length"
        [cardType]="'Medium'"
        [articleDetail]="latestNews[i + 2]"
      ></app-story-card>
    </ng-container>
  </div>
  <div class="loadmore">
    <button (click)="getLatestNews()">LOAD MORE</button>
  </div>
</div>
