@import "src/assets/scss/main.scss";

$card-height-large-screen: 20rem;
$card-height-mobile: 12rem;

.news-card {
  margin: 0.5rem;
  position: relative;
  height: 100%;
  overflow: hidden;
  flex: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  @include media-breakpoint-mobile {
    height: 16rem;
  }
  &.medium {
    height: 16rem;
    &::before {
      height: 40%;
    }
  }
  &.small {
    min-height: 7rem;
    &::before {
      height: 100%;
    }
    @include media-breakpoint-mobile {
      height: 7rem;
    }
  }

  &__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*     background: rgba(255,0,0,.5); */
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
  }
  &__text-wrapper {
    background-color: rgb(22 45 119 / 90%);
    width: 100%;
    position: absolute;
    bottom: 0rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    > div {
      padding: 0.5rem 1rem 0;
    }
    &.small {
      height: 100%;
    }
  }
  &__title {
    font-size: 1.2em;
    font-weight: bold;
    transition: color 1s ease;
    &.large {
      font-size: 1.5em;
    }
  }
  &__description {
    font-size: 1rem;
    color: white;
  }
  &__details-wrapper {
    // background: #213c86eb;
    max-height: $card-height-large-screen;
    // opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
  }
  &:hover &::before {
    min-height: 100%;
    max-height: $card-height-large-screen;
  }
  &:hover &__title {
    color: yellow;
  }
  &:hover &__image {
    transform: scale(1.2);
    z-index: -1;
  }
  &__excerpt {
    font-weight: 300;
  }
  &__read-more {
    padding-bottom: 5px;
    // background: black;
    text-align: right;
    color: white;
    display: block;
    // padding: 0.4rem 0.6rem;
    // border-radius: 0.3rem;
    // margin-top: 1rem;
    // border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    // width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
    &:hover {
      color: yellow;
      text-decoration: underline;
    }
  }
}
