<div class="news-card large" *ngIf="cardType == 'Large'">
  <a
    class="news-card__card-link"
    (click)="onClickStoryCard(articleDetail?.id)"
  ></a>
  <img
    [src]="
      contents?.thumbnail
        ? contents.thumbnail
        : 'assets/images/example/story_02.jpg'
    "
    alt=""
    class="news-card__image"
  />
  <div class="news-card__text-wrapper">
    <div class="news-card__title large">{{ articleDetail?.webTitle }}</div>
    <div class="news-card__description" [innerHtml]="description"></div>
    <div class="news-card__details-wrapper"></div>
  </div>
</div>
<div class="news-card medium" *ngIf="cardType == 'Medium'">
  <a
    (click)="onClickStoryCard(articleDetail?.id)"
    class="news-card__card-link"
  ></a>
  <img
    [src]="
      contents?.thumbnail
        ? contents.thumbnail
        : 'assets/images/example/story_02.jpg'
    "
    alt=""
    class="news-card__image"
  />
  <div class="news-card__text-wrapper">
    <div class="news-card__title">{{ articleDetail?.webTitle }}</div>
    <div class="news-card__details-wrapper"></div>
  </div>
</div>
<div class="news-card small" *ngIf="cardType == 'Small'">
  <a
    (click)="onClickStoryCard(articleDetail?.id)"
    class="news-card__card-link"
  ></a>
  <div class="news-card__text-wrapper small">
    <div class="news-card__title">{{ articleDetail?.webTitle }}</div>
    <div class="news-card__details-wrapper"></div>
  </div>
</div>
