@import "src/assets/scss/main.scss";

.footer {
  height: 65px;
  background: #213c86;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  @include media-breakpoint-mobile {
    height: 35px;
    position: relative;
  }
}
