<div class="article">
  <app-bookmark-button
    [isBookmark]="isBookmark"
    [title]="isBookmark ? 'REMOVE BOOKMARK' : 'ADD BOOKMARK'"
    (willClick)="onBookmarkArticle($event)"
  ></app-bookmark-button>
  <div class="article__post-date">
    {{ changeDateFormat(contents?.firstPublicationDate) }}
  </div>
  <div class="article__box">
    <div class="article__left">
      <div class="article__title">
        {{ contents?.headline }}
      </div>
      <!-- <div class="article__description">
        Dolar ve euro karşısında çift haneli değer kayıpları yaşayan Türk
        Lirası'ndaki bu hareket yatırımcıların internette Bitcoin aramalarını
        yüzde 566 artırarak tarihin en yüksek seviyelerine taşıdı.
      </div>
      <hr /> -->
      <div class="article__content" [innerHtml]="contents?.body"></div>
    </div>
    <div class="article__right">
      <div class="media">
        <img [src]="contents?.thumbnail" alt="" />
        <!-- <div class="article__image-description">image description</div> -->
      </div>
    </div>
  </div>
</div>
