@import "src/assets/scss/main.scss";
img {
  width: 100%;
  height: auto;
}

.article {
  max-width: 1024px;
  margin: 3rem auto 4rem;
  @include media-breakpoint-tablet {
    max-width: 900px;
  }
  @include media-breakpoint-mobile {
    max-width: 350px;
  }
  @include media-breakpoint-mobile-small {
    max-width: 300px;
  }

  hr {
    border-color: #f5f5f59c;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-mobile {
      flex-direction: column-reverse;
    }
  }

  &__left {
    margin-right: 2rem;
    width: 60%;
    @include media-breakpoint-mobile {
      width: 100%;
    }
  }

  &__right {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    @include media-breakpoint-mobile {
      width: 100%;
    }
    .media {
      position: fixed;
      top: 30%;
      @include media-breakpoint-mobile {
        position: relative;
      }
    }
    img {
      width: 80%;
      margin-bottom: 0.5rem;
      @include media-breakpoint-mobile {
        width: 100%;
      }
    }
  }

  &__post-date {
    margin: 1rem 0;
    font-size: 0.6em;
    color: #545454;
  }

  &__title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5rem;
    line-height: 2rem;
  }
  &__description {
    font-weight: bold;
    font-size: 1.2em;
  }

  &__content {
  }

  &__image-description {
    color: #545454;
    font-size: 0.8em;
  }
}
