@import "src/assets/scss/main.scss";

.navigation-wrapper {
  background: #213c86;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 65px;
  padding: 0 5%;
  max-width: 1024px;
  margin: auto;
  @include media-breakpoint-mobile {
    max-width: 350px;
  }
  &__logo {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    * > img {
      height: 35px;
      width: auto;
    }
  }
}

.search-wrapper {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid white;
}

.search-icon {
  padding: 0.3rem 1.5rem;
}

.transparent-input {
  height: 100%;
  border-radius: 0;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0 1rem;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
  }
}

.active-input {
  background-color: rgba(255, 255, 255, 0.5);
}
