<div class="navigation-wrapper">
  <div class="navigation">
    <div class="navigation__logo">
      <a href="">
        <img src="/assets/images/Logo-white.png" alt="Logo-white" />
      </a>
    </div>
    <div class="search-wrapper">
      <ng-container *ngIf="isSearch; then searchBox"></ng-container>
      <ng-template #searchBox>
        <form
          #form="ngForm"
          (keyup.enter)="search($event.target.value)"
          (ngSubmit)="search(form.value?.search)"
        >
          <input
            name="search"
            type="text"
            placeholder="Search all news"
            class="transparent-input"
            [ngClass]="{ 'active-input': isSearch }"
            ngModel
          />
        </form>
      </ng-template>
      <div
        class="search-icon"
        (click)="isSearch = !isSearch"
        [ngClass]="{ 'active-input': isSearch }"
      >
        <img src="assets/images/icon/search-icon@2x.svg" alt="search-icon" />
      </div>
    </div>
  </div>
</div>
