/* You can add global styles to this file, and also import other style files */
:root {
  overflow: hidden;
  /* set base values */
  --text-base-size: 16px;
  --text-scale-ratio: 0.95;
  --color-text: black;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  margin: 0;
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}
