@import "src/assets/scss/main.scss";

.bookmark {
  cursor: pointer;
  width: max-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  background: #213c86;
  padding: 3px 1rem;
  color: white;
  margin-right: 2rem;
  font-size: 0.8rem;
  @include media-breakpoint-mobile {
    margin-right: 0;
  }
  img {
    width: 10%;
    margin-right: 10px;
    height: 10px;
  }
  &:hover {
    background: #0f1b3d;
  }
  &:focus {
    outline: none;
  }
}
